### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv("purchase_data.csv")

## Player Count

* Display the total number of players

In [3]:
purchase_data["SN"].nunique()

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
Purchasing_df=pd.DataFrame({#"Number of Unique Items":purchase_data[Item ID].nunique(),
                "Number of Unique Items":[purchase_data["Item ID"].nunique()],
                "Averge Price":[purchase_data["Price"].mean()],
                "Number of Purchases":[purchase_data["Purchase ID"].count()],
               "Total Revenue":[purchase_data["Price"].sum()]
              })
Purchasing_df

   Number of Unique Items  Averge Price  Number of Purchases  Total Revenue
0                     179      3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:

Gender_df = purchase_data.groupby("Gender")
Gender_Counts = Gender_df["SN"].nunique()
Gender_Percentage = Gender_Counts/purchase_data["SN"].nunique()*100
Gender_display_df= pd.DataFrame({
   "Total Count":Gender_Counts,
   "Percentage of Players(%)":Gender_Percentage
             })
Gender_display_df

                       Total Count  Percentage of Players(%)
Gender
Female                          81                 14.062500
Male                           484                 84.027778
Other / Non-Disclosed           11                  1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:

Gender_purchase_df= pd.DataFrame({
   "Purchase Count":Gender_df["Purchase ID"].nunique(),
   "Average Purchase Price ($)":Gender_df["Price"].mean(),
   "Total Purchase Value ($)":Gender_df["Price"].sum(),
   "Avg Total Purchase per Person ($)":Gender_df["Price"].sum()/Gender_df["SN"].nunique()
             })
Gender_purchase_df

,Purchase Count,Average Purchase Price ($),Total Purchase Value ($),Avg Total Purchase per Person ($)
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
# Create the bins in which Data will be held
# Bins are 0, 59.9, 69.9, 79.9, 89.9, 100.   
bins =  [0,10, 15, 20, 25, 30, 35, 40, 1000]

# Create the names for the five bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)
Age_Dem = purchase_data.groupby("Age Range")
Total_Count = Age_Dem["SN"].nunique()
Age_percent = Age_Dem["SN"].nunique()/purchase_data["SN"].nunique()*100
Age_Display=pd.DataFrame({
                "Total Count": Total_Count,
                "Percentage of Players(%)": Age_percent
              })
Age_Display

           Total Count  Percentage of Players(%)
Age Range
<10                 24                  4.166667
10-14               41                  7.118056
15-19              150                 26.041667
20-24              232                 40.277778
25-29               59                 10.243056
30-34               37                  6.423611
35-39               26                  4.513889
40+                  7                  1.215278

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
Age_Purchase_Display=pd.DataFrame({
                "Purchase Count": Age_Dem["Purchase ID"].count(),
                "Average Purchase Price": Age_Dem["Price"].mean(),
                "Total Purchase Value": Age_Dem["Price"].sum(),
                "Avg Total Purchase per Person": Age_Dem["Price"].sum()/Age_Dem["Purchase ID"].count() 
              })
Age_Purchase_Display

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,32,3.405000,108.96,3.405000
10-14,54,2.900000,156.60,2.900000
15-19,200,3.107800,621.56,3.107800
20-24,325,3.020431,981.64,3.020431
25-29,77,2.875584,221.42,2.875584
30-34,52,2.994423,155.71,2.994423
35-39,33,3.404545,112.35,3.404545
40+,7,3.075714,21.53,3.075714

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [34]:
SN_df = purchase_data.groupby("SN")
Total_Purchase_Value = SN_df["Price"].sum()

Top_Spenders = pd.DataFrame({
              "Purchase Count": SN_df["Purchase ID"].count(),
                "Average Purchase Price": SN_df["Price"].mean(),
                "Total Purchase Value": Total_Purchase_Value, 
            })
Top_Spenders_display = Top_Spenders.sort_values("Total Purchase Value",ascending=False)
Top_Spenders_display.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [5]:
Item_df = purchase_data.groupby("Item Name")
Item_Total_Purchase_Value = Item_df["Price"].sum()

Top_Items = pd.DataFrame({
              "Purchase Count": Item_df["Price"].count(),
                "Price": Item_df["Price"].mean(),
                "Total Purchase Value":Item_Total_Purchase_Value
            })
Top_Items_display = Top_Items.sort_values("Purchase Count",ascending=False)
Top_Items_display.head(5)

,Purchase Count,Price,Total Purchase Value
Item Name,,,
Final Critic,13,4.614615,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
Persuasion,9,3.221111,28.99
Nirvana,9,4.900000,44.10
"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [38]:
Top_Items_display = Top_Items.sort_values("Total Purchase Value",ascending=False)
Top_Items_display.head(5)

,Purchase Count,Average Purchase Price,Total Purchase Value
Item Name,,,
Final Critic,13,4.614615,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
Persuasion,9,3.221111,28.99
Nirvana,9,4.900000,44.10
"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77